<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Job Application Tracker: {% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="/static/styles.css" />
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 x=%22-.2em%22 font-size=%2290%22>👔</text></svg>"
		/>
	</head>
	<body>
		<nav>
			<p>👔 Job Application Tracker</p>
			{% if session["user_id"] %}
			<a href="/logout"><button>Logout</button></a>
			{% endif %}
		</nav>
		<hr />
		{% if get_flashed_messages() %}
		<header>
			<div class="alert" role="alert">
				{{ get_flashed_messages() | join(" ") }}
			</div>
		</header>
		{% endif %}
		<main>{% block main %}{% endblock %}</main>
		<footer class="text-center">
			Made with 💙 by <a href="https://github.com/giridhar7632/">Giridhar</a>
		</footer>
	</body>
</html>
